 .hobby{
    border: 1px solid black;
    padding: 4px;
    margin: 8px;
    width: 160px;
 }
 .hobby span{
    display: block;
 }
 .publictrans{
    border: 1px solid black;
    padding: 4px;
    margin: 8px;
    width: 160px;
 }
 .publictrans span{
    display: block;
 }
 .letter{
    font-weight: bold;
 }
 label { 
    width: 120px;
 }
 .box{
    display: inline-flex;
    margin-bottom: 5px;
    
 }
 .overall{
    display: flex;
    flex-flow: column;
 }